<script type="text/javascript" src="app/RSAInterviewAvailability/js/requisitions.js"></script>
   <script>
	
	
		var req = new requisitionTab();
</script>
<div class="requisitionTaskContainer">



<div class="requisitionTable text-left "><label>Requisition Filter</label>
<div class="requistionDropdown ">
<div class="row col-xs-12 requistionlist">
<div class="col-xs-4 ">
 <select name="Department" id="dept">
</select> 
</div>
<div class="cols-xs-4">
<button class="col-xs-2 orangebtn deptfilter" onclick="req.filterByDept()" id="deptFilter">Filter By Dept</button>
</div>
</div>
<br>
<div class="row col-xs-12 requistionlist">
<div class="col-xs-4">
 <select name="Job" id="job">
</select></div>
<div class="cols-xs-6">
<button class="col-xs-2 orangebtn" onclick="req.filterByJobTitle()" id="jobFilter">Filter By Job Title</button>
<button class="col-xs-2 clearButton orangebtn" title="Click to clear all Filters" onclick="req.clearButtonClick()">Clear Filter</button>
</div> 

</div><br>
<div class="row col-xs-12 requistionlist">
<div class="col-xs-4">
 <select name="calendar" id="calendarName">
</select> </div>
<div class="cols-xs-4">
<button class="col-xs-2 orangebtn" onclick="req.filterByCalendarName()" id="calendarFilter">Filter By Calendar</button>
</div>
</div>

<br>
<div class="row col-xs-12">

</div>
<div class="row col-xs-12">

</div>
</div>
 </div>
<div id="requistionTask" class="row">
<div class="col-xs-12 text-center requisitionGridTable">

<div id="requisitionGrid" class = "custom-grid"></div></div>
</div>

</div>
<div class="modal fade alertpopup centeredBackdrop" id="alertRequisition" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content bottomBorder">
			<div class="modal-header topBorder">
				<h5 class="modal-title" id="alertModalLabel"></h5>
			</div>
			<div class="modal-body ">
				<div class="alertModalBody text-center selectable SelectIE"></div>
				<br>
				<div class="text-center">
					<button type="button" class="greybtn"
						onClick="req.alertOkClicked()">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>
