	<script type="text/javascript" src="app/RSAInterviewAvailability/js/tabNavigator.js"></script>
   <script>
	var tabNavigator = new tabNavigator();
	$(document).ready(function() {
		tabNavigator.initialize();
	});
</script>
<!-- <div class="jumbotron shadow-box">
		<form class="control-case shadow-box"> -->
			<div id="tab">
		<div class="row tabRow">
<div class="tabContainer col-xs-12" align="center">
	<div id="tabs" class="col-xs-12 interviewavailabilityTab">
		<ul id="interviewAvailabilitymainNav" class="tabsContainer  col-xs-12" style="text-align:right">
			<li id="calendarList"><a id="ui_1"  href="#tabs-1" onclick="tabNavigator.calendarTabClick()">Calendar(s)</a></li>
			<li id="hiringList"><a id="ui_2" href="#tabs-2" onclick="tabNavigator.hiringEventTabClick()">Hiring Event(s)</a></li>
			<li id="requistionTab"><a id="ui_3" href="#tabs-3" onclick="tabNavigator.requisitionTabClick()">Requisitions</a></li>
		</ul>
	   <section class="container-fluid">
		    <div class="row text-center">
		    	<div id="tabMessageBar"  >				
				        			
				        <label id="tabMessageBarLabel"></label>	
				    </div>
		    </div>
		</section> 
		<div id="tabs-1">
			
		</div> 
		<div id="tabs-2">
			
		</div>
		<div id="tabs-3">
			
		</div>
	</div>
	<div class="cpyright">Copyright @ 2008-2015 Homer TLC, Inc.All Rights Reserved.</div>
		<div class="realease">Release v6.0</div>
</div>
</div>
</div>

		
		
		