<script type="text/javascript" src="app/RetailStaffing/js/candidateDetails.js"></script>
   <script>
	var candidateDetails = new candidateDetails();
	$(document).ready(function() {
		candidateDetails.initialize();
	});
</script>
<div class="row candidateDetails" id="retailStaffing">
<div class="row jumbotron secondContentRow shadow-box">
<div class="col-xs-12">
<label class="candidateGridTitle">CANDIDATE DETAILS</label>
<div class="row shadow-box bgWhite">
<div class="col-xs-4">
<label>Candidate ID &nbsp;&nbsp;</label><span id="candidateId"></span>
</div>
<div class="col-xs-4">
<label>Associate ID &nbsp;&nbsp;</label><span id="AssociateId"></span>
</div>
<div class="col-xs-4">
<label>Name &nbsp;&nbsp;</label><span id="candidateName"></span>
</div>
</div></div>
</div>

<div class="row jumbotron secondContentRow shadow-box">
<div class="col-xs-12">
<label class="candidateGridTitle">REQUISITION HISTORY</label>
<div class="row gridContainer custom-grid shadow-box">
</div></div>
</div>
<div class="row jumbotron secondContentRow shadow-box">
<div class="col-xs-12">
<label class="candidateGridTitle">PHONE SCREEN / INTERVIEW HISTORY</label>
<div class="row gridContainer2 custom-grid shadow-box">
</div></div>
</div>

</div>
