.requisition-details{
  .details{
    white-space: pre-line;
    height:100%;
    width: 100%;
    .detail-box {
      font-size: 16px;
      display: inline-block;
      float: left;
      width: 17%;
      margin: 1%;
      .requisition-data-title{
        color: #999999;
      }
    }
  }
}

.candidate-table{
  .candidate-title{
    margin-left: 25px;
  }
  #candTable{
    margin: 10px;
    width: 98%;

    .column-titles{
      color: #999999;
      font-size: 16px;
    }
    .candidate-row{
      height: 58px;
    }
    td.status-column{
       white-space: pre-line;
    }
    td.button-column {
      white-space: nowrap;
    }
    .button-width {
      margin-top: 10px;
      margin-right: 0;
      margin-left: 0;
      width : 90%;
      height: 100%;
      white-space: pre-line;
      font-weight: 600;
    }

  }
}
