<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>QualifiedPool</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogManager</servlet-name>
		<servlet-class>com.homedepot.ta.aa.log4j.LogManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogManager</servlet-name>
		<url-pattern>/LogManager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApplicationCheck</servlet-name>
		<servlet-class>com.homedepot.hr.hr.retailstaffing.util.ApplicationCheck</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<error-page>
		<error-code>401</error-code>
		<location>/Unauthorized.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/Unauthorized.html</location>
	</error-page>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/thdLoginStandard.html</form-login-page>
			<form-error-page>/thdLoginStandard_error.html</form-error-page>
		</form-login-config>		
	</login-config>
	
	<security-role>
		<description>Human Resources Retail Staffing Associates</description>
		<role-name>HR RSA Associates</role-name>
	</security-role>
	<security-role>
		<description>Human Resources Retail Staffing Contractors</description>
		<role-name>HR CPROF</role-name>
	</security-role>
	<security-role>
		<description>HR EDW Reporting 020</description>
		<role-name>HR EDW Reporting 020</role-name>
	</security-role>
	<security-role>
		<description>HR EDW Reporting 004</description>
		<role-name>HR EDW Reporting 004</role-name>
	</security-role>
	<security-role>
		<description>WPS Admins</description>
		<role-name>wpsadmins</role-name>
	</security-role>
	<security-role>
		<description>HR Portal Team</description>
		<role-name>HR Portal Team</role-name>
	</security-role>	
	<security-role>
		<description>HR ASDSUP</description>
		<role-name>HR ASDSUP</role-name>
	</security-role>

	<security-role>
		<description>HR Store MSS</description>
		<role-name>HR Store MSS</role-name>
	</security-role>

	<security-role>
		<description>HR HR Services</description>
		<role-name>HR HR Services</role-name>
	</security-role>
	
	<security-role>
		<description>HR EDW Reporting 007</description>
		<role-name>HR EDW Reporting 007</role-name>
	</security-role>
		
	<security-role>
		<description>HR ASM</description>
		<role-name>HR ASM</role-name>
	</security-role>

	<security-role>
		<description>HR DVHRM</description>
		<role-name>HR DVHRM</role-name>
	</security-role>
	
	<security-role>
		<description>HR EDW Reporting 023</description>
		<role-name>HR EDW Reporting 023</role-name>
	</security-role>

	<security-role>
		<description>HR EDW Reporting 005</description>
		<role-name>HR EDW Reporting 005</role-name>
	</security-role>
	
	<security-role>
		<description>HR QUEWEB</description>
		<role-name>HR QUEWEB</role-name>
	</security-role>

	<security-role>
		<description>HR MET Sups</description>
		<role-name>HR MET Sups</role-name>
	</security-role>

	<security-role>
		<description>HR Advice and Counsel</description>
		<role-name>HR Advice and Counsel</role-name>
	</security-role>

	<security-role>
		<description>HR Services SUPP1</description>
		<role-name>HR Services SUPP1</role-name>
	</security-role>
	
	<security-role>
		<description>HR Services SUPPT</description>
		<role-name>HR Services SUPPT</role-name>
	</security-role>
	
	<security-role>
		<description>HR HRM</description>
		<role-name>HR HRM</role-name>
	</security-role>	

	<security-role>
		<description>HR EDW Reporting 014</description>
		<role-name>HR EDW Reporting 014</role-name>
	</security-role>	

	<security-role>
		<description>HR DC Mgmt</description>
		<role-name>HR DC Mgmt</role-name>
	</security-role>
	
	<security-role>
		<description>HR Fuel Store Manager</description>
		<role-name>HR Fuel Store Manager</role-name>
	</security-role>
	
	<security-role>
		<description>HR HRVP</description>
		<role-name>HR HRVP</role-name>
	</security-role>
	
	<security-role>
		<description>HR Store Manager</description>
		<role-name>HR Store Manager</role-name>
	</security-role>

	<security-role>
		<description>HR HRDirectors</description>
		<role-name>HR HRDirectors</role-name>
	</security-role>

	<security-role>
		<description>HR HRManagers</description>
		<role-name>HR HRManagers</role-name>
	</security-role>

	<security-role>
		<description>HR DEM</description>
		<role-name>HR DEM</role-name>
	</security-role>

	<security-role>
		<description>HR MEM</description>
		<role-name>HR MEM</role-name>
	</security-role>
					
  <security-role>
  	<description>HR AIMS Create QP</description>
  	<role-name>HR AIMS Create QP</role-name>
  </security-role>
  					
	<security-constraint>
		<display-name>Qualified Pool Constraints</display-name>
		<web-resource-collection>
			<web-resource-name>Qualified Pool Services</web-resource-name>
			<description>Constraints for the qualified pool services</description>
			<url-pattern>/service/*</url-pattern>
			<url-pattern>/</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>			
		</web-resource-collection>
		<auth-constraint>
			<description>HRSC Associates</description>
			<role-name>HR RSA Associates</role-name>
			<role-name>HR CPROF</role-name>
			<role-name>HR EDW Reporting 020</role-name>
			<role-name>HR EDW Reporting 004</role-name>
			<role-name>wpsadmins</role-name>
			<role-name>HR Portal Team</role-name>
		    <role-name>HR ASDSUP</role-name>
		    <role-name>HR Store MSS</role-name>		  
		    <role-name>HR HR Services</role-name>
		    <role-name>HR EDW Reporting 007</role-name>
		    <role-name>HR ASM</role-name>		  		  		  
		    <role-name>HR DVHRM</role-name>
  		    <role-name>HR EDW Reporting 023</role-name>
            <role-name>HR EDW Reporting 005</role-name> 
            <role-name>HR MET Sups</role-name>  
            <role-name>HR Advice and Counsel</role-name>
    	    <role-name>HR Services SUPP1</role-name>
    	    <role-name>HR Services SUPPT</role-name>
		    <role-name>HR HRM</role-name>	
		    <role-name>HR EDW Reporting 014</role-name>	
		    <role-name>HR DC Mgmt</role-name>
		    <role-name>HR Fuel Store Manager</role-name>	
		    <role-name>HR HRVP</role-name>  		
		    <role-name>HR Store Manager</role-name>	
		    <role-name>HR HRDirectors</role-name>
	        <role-name>HR HRManagers</role-name>
	        <role-name>HR DEM</role-name>
	        <role-name>HR MEM</role-name>			
	        <role-name>HR AIMS Create QP</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>Transport Guarantee of the data</description>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
</web-app>